html {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.widthclass {
  width: 960px;
  margin: 0 auto;
}

/* header modifiers */

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1rem;
}

header .widthclass {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header img {
  height: 1.5rem;
  padding: 0.66rem;
}

header h3 {
  padding: 0.66rem;
}

.flexboxextra {

}

/* main content 1/2 modifiers*/

.backgroundclass {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
  background-size: cover;
  display: flex;
  align-items: center;
}

.newarrival {
  background-color: black;
  width: 24rem;
  margin-top: 4rem;
}

.newarrival h3 {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.50rem;
}

.newarrival h2 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.newarrival h3,
.newarrival h2 {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* navigation modifiers */

.red {
  background-color: firebrick;
}
